<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title class="title">
    welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <img src="assets/images.png">
  </div>

  <ion-button routerLink="/login" style="color: coral;"color="success" >LOGIN</ion-button>
  <ion-button routerLink="/signup" style="color: rgb(255, 140, 98)" color="success">SIGNUP</ion-button>

  
</ion-content>
