<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="home()" class="button">
        <ion-icon name="close" color="dark"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title class="title">login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <img src="assets/download.png">
    <ion-item>
      <ion-icon name="person" placeholder="Name">
      </ion-icon>
      <ion-input class="name" name="name" type="text" placeholder="Name" [(ngModel)]="loginname">ENTER A NAME:
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="key">
      </ion-icon>
      <ion-input class="password" name="name" type="password" placeholder="password" [(ngModel)]="loginpassword">ENTER A
        PASSWORD: </ion-input>
    </ion-item>
    <ion-item>
      {{msg}}
    </ion-item>
    <ion-button (click)="check()" color="dark">LOGIN</ion-button>

  </div>

</ion-content>