.content{
    max-width: 30%; 
    position: relative;
    left: 35%;
    top: 5%;
    text-align: center;
    --ion-background-color:#ded6eb;

}

.name{
    color : #363232 !important;    
   background-color: rgb(241, 240, 237);
}

.password
{
    color : #363232 !important;
    background-color: rgb(241, 240, 237);
}
.title {
    text-align: center;
    color: rgb(121, 57, 224);
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 1px 0 3px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#ded6eb;
}
      
.button{
    background-color:#ded6eb;
}
    

