*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.sign{
    margin-top: 200px;
    background-color: rgb(145, 215, 255);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    justify-content: space-evenly;
}
input{
    width: 70%;
    border:transparent 1px solid;
    margin-left: 5%;
}
button{
    width: 60%;
    border:transparent 1px solid;
    background-color: lightgray;
}