<!-- sign in  -->

<div class="sign">
    NAME: <br><input type="text" placeholder="enter  with alphanumeric" [(ngModel)]="username" #name="ngModel" minlength="8" required /><br>
    <div *ngIf="name.errors?.minlength">
        name must be at least 8 character long
    </div>
   

    Password: <br><input type="password" placeholder="text,number,char" [(ngModel)]="pasword" #password="ngModel" minlength="8"
        required /><br>
    <div *ngIf="password.errors?.minlength">
        PASSWORD must be at least 8 characters long.
    </div>



    Confirm Password: <br><input type="password" placeholder="confirmpassword" [(ngModel)]="confirmPassword"><br>
    <div>{{ passworderror}}</div>

    <button (click)="go()" [disabled]="!username">signin</button>
    <button routerLink="/">goback</button>
</div>