<!-- sign in  -->
<!-- <form> -->
<div class="sign">
    NAME: <br><input type="text" placeholder="enter a name" [(ngModel)]="username"><br>
    <!-- <div ng-show="form.name.$dirty && form.name.$invalid"> -->
    <!-- <p ng-show="form.name.$error.required">name field reuired </p> -->

    <!-- </div> -->

    Password: <br><input type="password" placeholder="password" [(ngModel)]="pasword"><br>
    Confirm Password: <br><input type="password" placeholder="confirmpassword" [(ngModel)]="confirmpassword"><br>
    <button (click)="go()">Signup</button>
    <button routerLink="/">goback</button>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"  ></script> -->
<!-- </form> -->